@font-face {
  font-family: Graphers Blog;
  src: url(../font/Graphers\ Blog.ttf); }

$primary-color-dark: rgba(0, 0, 0, 0.801);

h2 {
  font-family: 'Graphers Blog';
  margin: 2em;
  color: $primary-color-dark; }

.ul.tabs.tabs-transparent {
  margin: 2em; }

// .nav-extended {
//   background-color: white; }

li {
  color: rgba(0, 0, 0, 0.486) !important;}
