<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>Social Stories</title>

  <!-- CSS  -->
  <base href="/"> 
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" crossorigin="anonymous">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.js"></script>
</head>

<body>
  {{{body}}}

  <!-- Core Javascript -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
  <script src="https://cdn.jsdelivr.net/materialize/0.98.0/js/materialize.min.js"></script>
  <script src="//cdn.shopify.com/s/files/1/1775/8583/t/1/assets/gallery.min.opt.js?2667407724680817860" crossOrigin="anonymous"></script>

</body>

</html>