@font-face {
  font-family: Graphers Blog;
  src: url ('../font/Graphers Blog.ttf');
}

h2 { 
  font-family: Graphers Blog, sans-serif; 
  color: rgba(0, 0, 0, 0.884);
}

#nav{
  background-color: #f4f4f4;
}

li {
  color: rgba(0, 0, 0, 0.548)
}

#categories-container {
  background-color: #f4f4f4;
}

a {
  color: rgba(0, 0, 0, 0.541) !important;
}
