

nav ul a,
nav .brand-logo {
  color: #444;
}

p {
  line-height: 2rem;
}

h3 {
  color: rgba(0, 0, 0, 0.815);
  font-family: 'Times New Roman', Times, serif;
}

.sidenav-trigger {
  color: #26a69a;
}

.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}
  .parallax-container .section {
    width: 100%;
  }
.concept_text {
  color: rgba(0, 0, 0, 0.815);
}
  #gif {
    height: 80%;
    width: 100%;
    margin: auto;
  }
  #gif_container {
    height: 500px;
  }

@media only screen and (max-width : 992px) {
  .parallax-container .section #gif_container {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
  .container {
    width: 95%;
}
}

@media only screen and (max-width : 600px) {
  #index-banner .section #gif_container {
    top: 0;

  }
}
@media only screen and (min-width: 993px) {
.container {
    width: 95%;
}
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer {
  margin: 0;
}


#navbar {
  overflow: hidden;
  background-color: #333;
  z-index: 5;
}

#navbar a {

  display: inline-block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px;
  text-decoration: none;
}

/* Page content */
.content {
  padding: 16px;
}


.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.sticky + .content {
  padding-top: 60px;
} 
nav.nav-center ul {
  text-align: center;
}
nav.nav-center ul li {
  display: inline;
  float: none;
}
nav.nav-center ul li a {
  display: inline-block;
}
.navbar {
 text-align: center;
}
#download-button-2 {
  color: rgba(0, 0, 0, 0.753);
}

#download-button {
  margin-left: 25px;
}
#mission_statement {
  margin-left: 15px;
  color: rgba(0, 0, 0, 0.753);
  font-size: 1.2em;
 
}
.fas {
  display: block !important;
  color: rgba(0, 0, 0, 0.582);
}
#welcome {
  font-weight: bold;
  color: rgba(0, 0, 0, 0.753);
}
