<!-- Footer container ======================================================================================= -->
<footer class="page-footer grey lighten-5">
    <div class="container">
        <div class="row">
            <div class="col 1 s12">
                <p class="concept_text">Ideas and perspectives you won’t find anywhere else. Social Stories taps into
                    the brains of the world’s
                    most insightful writers, thinkers, and storytellers to bring you the smartest takes on topics that
                    matter. So whatever your interest, you can always find fresh thinking and unique perspectives.</p>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container">
            Made by Purple Parrots
        </div>
    </div>
</footer>