{{!-- Modal Trigger --}}
<a class="waves-effect waves-light btn modal-trigger btn-large waves-effect grey darken-4" href="#signInModal">Sign In</a>

{{!-- Modal Structure --}}
<div id="signInModal" class="modal">
  <div class="right">
    <a href="#!" class="modal-close waves-effect waves-green btn-flat"><i class="material-icons">clear</i></a>
  </div>
  <div class="modal-content center">
    <h5>Ready for awesomeness?</h5>
    <h3>Login to your account!</h3>
    <hr>
  </div>

  <div class="container">
    <form id="signin" class="row" name="signin" method="post" action="/signin">
      {{!-- username --}}
      <div class="input-field col s12">
        <i class="material-icons prefix">verified_user</i>
        <input id="usernameLogin" type="text" name="username" class="validate">
        <label for="usernameLogin"> Username</label>
        {{!-- <span class="helper-text" data-error="wrong" data-success="right">Helper text</span> --}}
      </div>
      {{!-- password --}}
      <div class="input-field col s12">
        <i class="material-icons prefix">fingerprint</i>
        <input id="passwordLogin" type="password" name="password" class="validate">
        <label for="passwordLogin"> Password</label>
      </div>
      {{!-- signin button --}}
      <div class="col s12 center">
        <input class="btn btn-primary btn-large" type="submit" value="Sign In" />
      </div>
    </form>

    {{!-- link to signup --}}
    <div class="center row">
      <p id="loginLink">Do you need an account? <a href="/signup">Signup here!</a></p>
    </div>
  </div>

</div>

{{!-- jquery Script --}}
<script>
  $(document).ready(function () {
    $('.modal').modal();
  });

</script>